<mat-dialog-content>
  <h3 *ngIf="!isUpdate">Create tasks</h3>
  <h3 *ngIf="isUpdate">Edit todo items</h3>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <form  #form="ngForm" (submit)='onCreate(form.value)'>
    <div class="form-group">
      <textarea
        class="form-control"
        id="content"
        required
        ngModel
        name="content"
        placeholder="ex: walk dog, go shopping"
      ></textarea>
    </div>
    <button *ngIf="!isUpdate" [disabled]='!form.valid'  type='submit' mat-flat-button color="primary">Add task</button>
    <button *ngIf="!isUpdate" class="ml-1" (click)='onFinishAdding()' mat-flat-button color="accent">Finish Adding</button>

    <button *ngIf="isUpdate" type='button' (click)='onEditItem(form.value)' mat-flat-button color="primary">Edit Todo item</button>
    <button *ngIf="isUpdate" class="ml-1" (click)='onFinishAdding()' mat-flat-button color="warn">Cancel</button>
  </form>
</mat-dialog-actions>

